<div id="app">
    <!-- Top Toolbar -->
    <md-toolbar class="vault-toolbar">
        <div class="md-toolbar-row">
            <div class="md-toolbar-section-start" v-if="!showAccount" style="width:70%">
                <md-field md-inline style="width: 300px; font-size: 18px; margin-bottom: -14px; padding: 0 10px">
                    <md-input type="text" class="black-placeholder" placeholder="Search" v-model="searchString" style="border-bottom:none;font-size: 15px;padding-left: 5px; color: white;"
                        @change="saveSearch"></md-input>
                </md-field>
            </div>
            <md-button class="md-icon-button" v-if="showAccount" @click="navigateBack">
                <md-icon class="toolbar-icon">arrow_back</md-icon>
            </md-button>
            <div class="md-toolbar-section-end">
                <md-button class="md-icon-button" @click="reload">
                    <md-icon class="toolbar-icon" v-bind:class=" { 'spin': isSyncing } ">sync</md-icon>
                </md-button>
                <md-button class="md-icon-button" base-color="white" @click="openOptions()">
                    <md-icon class="toolbar-icon">settings</md-icon>
                </md-button>
            </div>
        </div>

        <div id="progress-bar" v-if="isLoading || isSaving || isSyncing || true"
            style="z-index: 100; position:absolute; top: 56px;">
            <md-progress-bar md-mode="indeterminate" style="height: 3px; width: 100vw; color:black"></md-progress-bar>
            <!-- <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div> -->
        </div>
    </md-toolbar>

    <!-- Accounts List -->

    <transition name="slide-right">
        <vault-detailed-view v-show="showAccount" :showAccount="showAccount" :currAccount="currAccount" :initialCanEdit="canEdit"
            :createPage="createPage" :userEmails="userEmails" @navigateBack="navigateBack"></vault-detailed-view>
    </transition>

    <vault-list :filteredAccounts="filteredAccounts" @showAccountDetailsPage="showAccountDetailsPage" @showNewAccountPage="showNewAccountPage"
        @scroll.native="saveScroll"></vault-list>

    <div class="vault-door" v-if="isFirstLoad || !isAuthenticated" v-bind:class="{'animate': isAuthenticated}">
        <div class="left-door">
            <div class="door-circle">
                <img class="door-handle" src="../../icons/wheel.png" />
            </div>
        </div>
        <div class="right-door">
            <div class="door-hole"></div>
        </div>
    </div>
</div>
