:root {
    --theme-color: 239, 91, 91;
    --vault-color: rgb(var(--theme-color));
    font-family: 'Roboto';
    --md-theme-default-primary: rgb(var(--theme-color));
    --md-theme-default-accent: rgb(var(--theme-color));
}

#app {
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Options */

h3.option-title {
    font-weight: 600;
}

.upload-button i {
    margin: auto;
    font-size: 16px;
    margin-right: 3px;
}

.upload-button {
    display: inline-flex;
}

#uploaded-file {
    font-size: 12px;
    margin-right: 5px;
}

#invalid-file {
    display: none;
    color: red;
    margin-left: 4px;
}

#login {
    width: 185px;
}

#login img {
    margin-top: 5px;
    margin-left: 5px;
}

.button-text {
    line-height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    letter-spacing: 0.3px;
}

.color-radio {
    display: inline-block;
    margin-right: 10px;
}

.hidden-radio {
    visibility: hidden;
}

label.color-circle {
    height: 44px;
    width: 44px;
    display: block;
    border-radius: 100%;
    cursor: pointer;
}

.color-circle svg {
    height: 44px;
    width: 44px;
    padding: 16px 11px;
    margin-bottom: -40px;
}

polyline.check {
    stroke-dasharray: 30px 30px;
    stroke-dashoffset: 30px;
    transition: stroke-dashoffset 200ms ease-in-out;
}

.hidden-radio[type=radio]:checked~label polyline.check {
    stroke-dashoffset: 0;
}

.color-circle:hover,
.color-circle:active {
    opacity: 0.9;
}

.button-raised {
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-raised:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.options-close {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--vault-color);
}


/* materialvue tweaks */

.md-menu-content.md-select-menu {
    background: white;
    height: auto;
    max-height: 60vh;
    transition: none;
}

.md-list-item-content>.md-checkbox:first-child {
    margin-right: 12px;
}

.md-checkbox:not(.md-checkeds) .md-checkbox-container {
    border-color: rgba(0, 0, 0, .54);
}

.md-checkbox.md-checked .md-checkbox-container {
    background-color: var(--vault-color);
    border-color: transparent;
}

.md-checkbox .md-checkbox-container:after {
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
}

.md-select-value {
    opacity: 0 !important;
}


/* built-in tweaks */

::-webkit-scrollbar {
    width: 5px;
    /* remove scrollbar space */
    /* background: transparent; */
    /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--theme-color), 0.14);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--theme-color), 0.7);
}


/* Animations */

.spin {
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

[v-cloak] {
    display: none;
}
