<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="../shared/material-components-web.css">
	<link rel="stylesheet" href="../../fonts/material-icons/material-icons.css">
	<link href="../../fonts/font.css" rel="stylesheet">
	<link rel="stylesheet" href="../shared/main.css">
</head>

<body id="app">

	<!-- Top Toolbar -->
	<div class="mdc-toolbar">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start" class="mdc-theme-fd-dark" v-if="!showAccount">
				<div class="mdc-textfield mdc-toolbar__title mdc-theme--dark" style="width: 300px; font-size: 18px; margin-bottom: -5px; padding: 0;">
					<input type="text" class="mdc-textfield__input" placeholder="Search" v-model="searchString" style="border-bottom:none;font-size: 15px;padding-left: 5px;"
					  @change="saveSearch">
				</div>
			</section>
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start" class="mdc-theme-fd-dark" v-if="showAccount">
				<i class="material-icons" @click="navigateBack" style="margin-left: 10px; width: 50px; cursor:pointer;">arrow_back</i>
			</section>
			<section class="mdc-toolbar__section mdc-toolbar__section--align-end  mdc-toolbar__section--shrink-to-fit" class="mdc-theme--dark">
				<button class="mdc-button round-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
					<i class="material-icons" v-bind:class=" { 'spin': isSyncing } " @click="reload">sync</i>
				</button>
				<button class="mdc-button round-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple" base-color="white" @click="openOptions()">
					<i class="material-icons">settings</i>
				</button>
			</section>
		</div>
		<div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate" v-if="isLoading || isSaving || isSyncing"
		  style="z-index: 100; position: absolute; top: 56px;">
			<div class="mdc-linear-progress__buffer"></div>
			<div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
				<span class="mdc-linear-progress__bar-inner"></span>
			</div>
			<div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
				<span class="mdc-linear-progress__bar-inner"></span>
			</div>
		</div>
	</div>

	<!-- Accounts List -->
	<div class="maindiv" id="maindiv" v-cloak @scroll="saveScroll">
		<ul class="mdc-list mdc-list--two-line" style="padding: 0 0 80px 0; overflow-x: hidden;">
			<li v-for="account in filteredAccounts" class="mdc-list-item" @click="showAccountDetailsPage($event, account)" style="height: 70px; width: 380px; padding: 0 10px;">
				<span class="mdc-list-item__start-detail letter-icon">{{ account ? account.site.slice(0,1).toUpperCase() : null }}</span>
				<span class="mdc-list-item__text list-text" style="text-transform: capitalize">
					{{account ? account.site : ""}}
					<span class="mdc-list-item__text__secondary" style="text-transform: none">{{account ? account.username : null}}</span>
				</span>
				<span class="mdc-list-item__end-detail" style="width:185px; margin-right:-75px;">
					<!-- <button class="mdc-button mdc-button--dense mdc-button copy-button username" data-mdc-auto-init="MDCRipple"  @click="copyUsername(this, $event, account)" style="color:rgba(100,100,100,1);">
						<i class="material-icons">person</i><span id="copy-text" v-el:copyuser>COPY</span>
					</button>					 -->
					<button class="mdc-button mdc-button--dense mdc-button copy-button username" data-mdc-auto-init="MDCRipple" @click="autoFill(this, $event, account)"
					  style="color:rgba(100,100,100,1); width: 100px;">
						<i class="material-icons">input</i>
						<span id="auto-fill" style="width: 75px" v-el:autofill>AUTOFILL</span>
					</button>
					<!-- <button class="mdc-button mdc-button--dense mdc-button mdc-button--primary copy-button password" data-mdc-auto-init="MDCRipple"
				    @click="copyPassword(this, $event, account)">
						<i class="material-icons">vpn_key</i><span id="copy-text" v-el:copypass>COPY</span>
					</button> -->
				</span>
			</li>
		</ul>

		<button class="mdc-fab add-new material-icons" @click="showNewAccountPage" data-mdc-auto-init="MDCRipple">
			<span class="mdc-fab__icon">add</span>
		</button>
	</div>

	<!-- Detailed View -->
	<div class="account" v-show="showAccount" transition="slide">
		<!-- SITE -->
		<div class="mdc-form-field account-form-field">
			<div id="site-input" class="mdc-textfield" v-bind:class="{'no-underline': !canEdit}">
				<input type="text" id="site-textfield" class="mdc-textfield__input" disabled={{!canEdit}} v-model="currAccount.site" @change="saveAccount">
				<label class="mdc-textfield__label" v-bind:class="{'mdc-textfield__label--float-above': (!canEdit || currAccount.site) }"
				  for="site-textfield">Site</label>
			</div>
		</div>
		<!-- URL -->
		<div class="mdc-form-field account-form-field">
			<div id="url-input" class="mdc-textfield" v-bind:class="{'no-underline': !canEdit}">
				<input type="text" id="url-textfield" class="mdc-textfield__input" @blur="getIcon" disabled={{!canEdit}} v-model="currAccount.url"
				  @change="saveAccount">
				<label class="mdc-textfield__label" v-bind:class="{'mdc-textfield__label--float-above': (!canEdit || currAccount.url) }"
				  for="url-textfield">URL</label>
			</div>
		</div>
		<!-- USERNAME -->
		<div class="mdc-form-field account-form-field">
			<div id="username-input" class="mdc-textfield" v-bind:class="{'no-underline': !canEdit}">
				<input type="text" id="username-textfield" class="mdc-textfield__input" disabled={{!canEdit}} v-model="currAccount.username"
				  @change="saveAccount">
				<label class="mdc-textfield__label" v-bind:class="{'mdc-textfield__label--float-above': (!canEdit || currAccount.username) }"
				  for="username-textfield">Username</label>
				<i id="username-toggle-button" v-show="!canEdit" class="mdc-textfield__label mdc-icon-toggle material-icons detailed-copy-button"
				  role="button" aria-pressed="false" tabindex="0" @click="copyUsername(this, $event)" data-mdc-ripple-is-unbounded> content_copy</i>
			</div>
		</div>
		<!-- PASSWORD -->
		<div class="mdc-form-field account-form-field">
			<div id="password-input" class="mdc-textfield" v-bind:class="{'no-underline': !canEdit}">
				<input type="{{passwordVisible? 'text': 'password'}}" id="password-textfield" class="mdc-textfield__input" disabled={{!canEdit}}
				  v-model="currAccount.password" @change="saveAccount">
				<label class="mdc-textfield__label" v-bind:class="{'mdc-textfield__label--float-above': (!canEdit || currAccount.password) }"
				  for="password-textfield">Password</label>
				<i id="password-show-button" v-show="canEdit" class="show-password material-icons" v-bind:class="{'active': passwordVisible}"
				  @mousedown="showPassword()" @mouseup="hidePassword()" @mouseleave="hidePassword()">remove_red_eye</i>
				<i id="password-toggle-button" v-show="!canEdit" class="mdc-textfield__label mdc-icon-toggle material-icons detailed-copy-button"
				  role="button" aria-pressed="false" tabindex="0" @click="copyPassword(this, $event)"> content_copy</i>
			</div>
		</div>
		<!-- PERMISSIONS -->
		<div class="mdc-form-field account-form-field" style="height: 72px; padding-top: 10px;">
			<div class="mdc-select__selected-text" style="position: absolute; margin-top:-20px; color:rgba(0,0,0, 0.38); font-size: 11px">Permissions</div>
			<span v-if="!canEdit">{{ usersSelected }} users selected.</span>
			<div class="mdc-select" v-show="canEdit" role="listbox" tabindex="0" id="permission-select">
				<span class="mdc-select__selected-text" style="font-size: 0.875rem; font-weight: 400;">{{ usersSelected }} users selected.</span>
				<div class="mdc-simple-menu mdc-select__menu">
					<ul class="mdc-list mdc-simple-menu__items">
						<li v-for="email in userEmails" class="mdc-list-item" role="menuitem" tabindex="0" v-on:click.stop style="height: 35px; font-size: 0.8rem; color:black">
							<div class="mdc-checkbox no-mdc-ripple" v-on.focus.stop>
								<input type="checkbox" class="mdc-checkbox__native-control" v-model="currAccount.permissions[email]" />
								<div class="mdc-checkbox__background">
									<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
										<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
									</svg>
									<div class="mdc-checkbox__mixedmark"></div>
								</div>
							</div>
							<label>{{email}}</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- BOTTOM BUTTONS -->
		<div class="mdc-form-field">
			<button class="mdc-button" style="position: absolute; left: 20px; top: 450px;" v-if="canEdit && !createPage" vd @click="remove()">
				DELETE
			</button>
			<button class="mdc-button mdc-button--primary" style="position: absolute; right: 20px; top: 450px;" disabled={{isSaving}}
			  vd @click="canEdit? save() : edit()">
				{{ canEdit ? saveText : 'EDIT'}}
			</button>
		</div>
	</div>

	<!-- Dialog -->
	<aside class="mdc-dialog" id="dialog">
		<div class="mdc-dialog__surface">
			<header class="mdc-dialog__header">
				<h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title" style="font-size: 16px">
					Confirm delete?
				</h2>
			</header>
			<footer class="mdc-dialog__footer">
				<button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
				<button type="button" class="mdc-button mdc-button--primary mdc-dialog__footer__button mdc-dialog__footer__button--accept">Delete</button>
			</footer>
	</aside>

	<div class="vault-door" v-if="isFirstLoad || !isAuthenticated" v-bind:class="{'animate': isAuthenticated}">
		<div class="left-door">
			<div class="door-circle">
				<img class="door-handle" src="../../icons/wheel.png" />
			</div>
		</div>
		<div class="right-door">
			<div class="door-hole"></div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../shared/vue.min.js" defer></script>
	<script src="../shared/material-components-web.min.js" defer></script>
	<script src="../shared/lodash.min.js" defer></script>
	<script src="../shared/account.js"></script>
	<script src="mdc_init.js" defer></script>
	<script src="browser_action.js" defer></script>
</body>

</html>
