body {
	width: 400px;
	height: 600px;
	margin: 0;
	padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Roboto';
}

/* animations */

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

.slide-transition {
    transition: all 0.3s ease;
    top: 56px;
    position: absolute;
    background: white;
    left: 0px;
    height: calc( 100% - 56px );
    padding: 0 30px;
}

.slide-enter, .slide-leave {
    left: 400px;
}

/* mdc tweaks */

.mdc-button {
    min-width: 1%;
}

.mdc-list {
    padding-top: 0px;
    cursor: pointer;
}

.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button::before,
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button::after {
  background-color: rgba(255,255,255,0.2);
}

.mdc-form-field {
    width: 100%;
}

.mdc-form-field .mdc-textfield {
    width: 100%;
}

.no-underline::after {
    background-color: transparent !important;
}

/* built-in tweaks */

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: black;
}

:root {
    --mdc-theme-primary: #e74c3c;
}

/* maindiv */

.maindiv {
    height: calc( 100% - 56px);
    overflow-y: scroll;
}
    
.toolbar-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.round-button {
    line-height: 55px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    padding: 0;
    margin-right: 5px;
    color: white;
}

.letter-icon {
    background: #e74c3c;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    color: white;
    text-align: center;
    line-height: 56px;
    font-size: 25px;
}

.add-new {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
}

.copy-button {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    font-size: 10px;    
    width: 90px;
}

.copy-button span {
    width: 60px;
    text-align: center;
}

.copy-button i {
    font-size: 15px;
    line-height: 32px;
    margin-right: 3px;
}

.list-text {
    overflow:hidden; width:109px; white-space: nowrap; text-overflow: ellipsis;
}

.detailed-copy-button {
    left: 291px;
    cursor: pointer;
    top: 5px;
    pointer-events: all !important;
    font-size: 18px;    
    --mdc-ripple-fg-scale: 1.6 !important;
    --mdc-ripple-left: 6px !important;
    --mdc-ripple-top: 6px !important;
}

.account-form-field .mdc-textfield {
    width: 340px;
    max-width: 100%;
}

/* overlay divs */
